﻿@model RRHH.Models.VM.TimesheetVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-1 text-gray-800">Timesheet @Model.EmployeeName</h1>
<br />
<div class="card mb-4 py-3 border-left-dark">
    <div class="card-body">
        <form asp-action="Create">
            <div class="form-row align-items-center">
                <input type="hidden" asp-for="IdEmployee" />
                <input type="hidden" asp-for="Idproject" />
                @*<div class="col-auto">
                        <label asp-for="Idproject" class="control-label"></label>
                        <select asp-for="Idproject"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.Projects,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="Idproject" class="text-danger"></span>
                    </div>*@
                <div class="col-auto">
                    <label asp-for="Date" class="control-label"></label>
                    <div class='input-group date'>
                        <input asp-for="Date" type="date" class="form-control" />
                    </div>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="col-auto">
                    <label asp-for="Start" class="control-label"></label>
                    <div class='input-group date'>
                        <input asp-for="Start" type="time" class="form-control" />
                    </div>
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="col-auto">
                    <label asp-for="End" class="control-label"></label>
                    <div class='input-group date'>
                        <input asp-for="End" type="time" class="form-control" />
                    </div>
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
                <div class="col-auto">
                    <label asp-for="Lunch" class="control-label"></label>
                    <div class='input-group date'>
                        <input asp-for="Lunch" type="number" class="form-control" min="0" step="0.5" />
                    </div>
                    <span asp-validation-for="Lunch" class="text-danger"></span>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
@foreach (var item in Model.timesheets)
{
    <div class="card mb-4 py-3 border-left-dark">
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <div class="form-row align-items-center">
                    <input type="hidden" asp-for="IdEmployee" />
                    <input type="hidden" asp-for="Idtimesheet" value="@item.Idtimesheet" />
                    @*<div class="col-auto">
                        <label asp-for="Idproject" class="control-label"></label>
                        <select asp-for="Idproject"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.Projects,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="Idproject" class="text-danger"></span>
                    </div>*@
                    <div class="col-auto">
                        <label asp-for="Date" class="control-label"></label>
                        <div class='input-group date'>
                            @Html.TextBox("Date", item.Date, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date", id = "Date", name = "Date", @class = "form-control" })
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-auto">
                        <label asp-for="Start" class="control-label"></label>
                        <div class='input-group date'>
                            <input asp-for="Start" value="@item.Start" type="time" class="form-control" />
                        </div>
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="col-auto">
                        <label asp-for="End" class="control-label"></label>
                        <div class='input-group date'>
                            <input asp-for="End" value="@item.End" type="time" class="form-control" />
                        </div>
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                    <div class="col-auto">
                        <label asp-for="Lunch" class="control-label"></label>
                        <div class='input-group date'>
                            <input asp-for="Lunch" value="@item.Lunch" type="number" class="form-control" min="0" step="0.5" />
                        </div>
                        <span asp-validation-for="Lunch" class="text-danger"></span>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        <a class="btn btn-primary mb-2" href="@Url.Action("Delete","Timesheet",new { id=item.Idtimesheet })" role="button">Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
