﻿@model IEnumerable<RRHH.Models.VM.EmployeesVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>
<form asp-action="Index">
    <div class="form-row align-items-center">
        <div class="col-auto">
            @*<label class="control-label">Project</label>*@
            <select id="id" name="id"
                    class="form-control"
                    asp-items="@(new SelectList(ViewBag.Projects,"Value", "Text"))">
            </select>
        </div>
        <div class="col-auto">
            @*<label class="control-label">Project</label>*@
            <input type="date" id="week" name="week" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telephone)
                        </th>
                        <th>
                            @Html.DisplayName("Hours")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.horas)
                            </td>
                            <td>
                                <a asp-action="Create" asp-route-id="@item.Id">Timesheet</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
