﻿@model RRHH.Models.Schoolsandhub

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Schoolsandhub</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolNumbers" class="control-label"></label>
                <input asp-for="SchoolNumbers" class="form-control" />
                <span asp-validation-for="SchoolNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolHubs" class="control-label"></label>
                <input asp-for="SchoolHubs" class="form-control" />
                <span asp-validation-for="SchoolHubs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

