﻿@model RRHH.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idrole" class="control-label"></label>

                <select asp-for="Idrole"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.roles,"Value", "Text"))">
                </select>
                <span asp-validation-for="Idrole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproject" class="control-label"></label>

                <select asp-for="Idproject"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.project,"Value", "Text"))">
                </select>
                <span asp-validation-for="Idrole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

