﻿@model IEnumerable<RRHH.Models.VM.UserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="DocumentModal" data-id="@item.Id" data-idproject="@item.Idproject" data-toggle="modal" class="open-AddBookDialog">Project</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="url-project" value="@Url.Action("getProject","Users")" />
<div class="modal fade" id="DocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="AddProject">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Projects</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="idusuario" name="idusuario" type="hidden" />
                    <div class="form-group">
                        <select id="select-project" name="idprojecto" class="form-control"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $(document).on("click", ".open-AddBookDialog", function () {
            var iduser = $(this).data('id');
            var idproject = $(this).data('idproject');
            $(".modal-body #idusuario").val(iduser);
/*            $(".modal-body #idprojecto").val(idproject);*/

            var url = $('#url-project').val();
            $.get(url, function (data) {
                $('#select-project').html("");
                $.each(data, function (key, value) {
                    $('#select-project').append('<option value="' + value.idproject + '" selected="selected">' + value.name + '</option>');
                });
            });
            $('#DocumentModal').modal('show');
        });
    </script>

}