﻿@model IEnumerable<RRHH.Models.Expense>

@{
    ViewData["Title"] = "approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>approvals</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idproject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idemployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deliverdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idproject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idemployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deliverdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payday)
            </td>
            <td>
                <a asp-action="EditApprovals" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
