﻿@model RRHH.Models.Expense

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproject" class="control-label"></label>
                <select asp-for="Idproject"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.Projects,"Value", "Text"))">
                </select>
                <span asp-validation-for="Idproject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idemployee" class="control-label"></label>
                @*<input asp-for="Idemployee" class="form-control" />*@
                <select id="select-employee" class="form-control">
                    @*<option value="0">Select</option>*@
                    @*<option value="2">Two</option>*@
                </select>
                <span asp-validation-for="Idemployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="Deliverdate" class="control-label"></label>
                    <input asp-for="Deliverdate" class="form-control" />
                    <span asp-validation-for="Deliverdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Payday" class="control-label"></label>
                    <input asp-for="Payday" class="form-control" />
                    <span asp-validation-for="Payday" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<input type="hidden" id="url-getemployee" value="@Url.Action("getEmployee","Expenses")" />
@section Scripts{
    <script>
        $('#Idproject').on('change', function () {
            /*alert(this.value);*/
            var url = $('#url-getemployee').val();
            $.get(url, { id: this.value }, function (data) {
                /*console.log(data);*/
                $('#select-employee').html("");
                $.each(data, function (key, value) {
                    /*console.log(value.idemployee);*/
                    $('#select-employee').append('<option value="' + value.idemployee + '" selected="selected">' + value.name + '</option>');
                });
            });
        });
    </script>
}
