﻿@model RRHH.Models.Expense

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idproject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idproject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idemployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idemployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deliverdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
