﻿@model RRHH.Models.Expense

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproject" class="control-label"></label>
                <input asp-for="Idproject" class="form-control" />
                <span asp-validation-for="Idproject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idemployee" class="control-label"></label>
                <input asp-for="Idemployee" class="form-control" />
                <span asp-validation-for="Idemployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Deliverdate" class="control-label"></label>
                <input asp-for="Deliverdate" class="form-control" />
                <span asp-validation-for="Deliverdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payday" class="control-label"></label>
                <input asp-for="Payday" class="form-control" />
                <span asp-validation-for="Payday" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

