﻿@model RRHH.Models.VM.HomeVM
@{
    Layout = null;
}

<h1>Hour Report</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("name")
                        </th>
                        <th>
                            @Html.DisplayName("last name")
                        </th>
                        <th>
                            @Html.DisplayName("Payrate")
                        </th>
                        <th>
                            @Html.DisplayName("payroll")
                        </th>
                        <th>
                            @Html.DisplayName("Total")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.consolidatedHours)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lasname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payrate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payroll)
                            </td>
                            <td>
                                $ @Html.DisplayFor(modelItem => item.hours)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">Total: @Model.totalfin</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



