﻿@model RRHH.Models.VM.HomeVM
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{var str = HttpContextAccessor.HttpContext.Session.GetString("User");
    var SessionDash = JsonConvert.DeserializeObject<User>(str);
}
@{ if (SessionDash.Idrole == 1)
    {


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                </a>*@
        </div>

        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("last name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Payrate")
                                    </th>
                                    <th>
                                        @Html.DisplayName("payroll")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Total")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.consolidatedHours)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lasname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payrate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.payroll)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.hours)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    }
    else if (SessionDash.Idrole == 2)
    {
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                </a>*@
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Employee
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountTotalEmployee</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Employee in proyect
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountEmployeeByProject</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("last name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("payroll")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.consolidatedHours)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lasname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.payroll)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    }
    else if (SessionDash.Idrole == 3)
    {
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                </a>*@
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Employee
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountTotalEmployee</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Employee in proyect
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountEmployeeByProject</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("last name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Payrate")
                                    </th>
                                    <th>
                                        @Html.DisplayName("payroll")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Total")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.consolidatedHours)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lasname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payrate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.payroll)
                                        </td>
                                        <td>
                                           $ @Html.DisplayFor(modelItem => item.hours)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    }
}

