﻿@model RRHH.Models.VM.HomeVM
@{
    ViewData["Title"] = "reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reports</h1>
    <a href="@Url.Action("GenerateReport","Home",new {id=Model.idpro,week= Model.week })" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>
<form asp-action="reports">
    <div class="form-row align-items-center">
        <div class="col-auto">
            @*<label class="control-label">Project</label>*@
            <select id="id" name="id"
                    class="form-control"
                    asp-items="@(new SelectList(ViewBag.Projects,"Value", "Text"))">
            </select>
        </div>
        <div class="col-auto">
            @*<label class="control-label">Project</label>*@
            <input type="date" id="week" name="week" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("name")
                        </th>
                        <th>
                            @Html.DisplayName("last name")
                        </th>
                        <th>
                            @Html.DisplayName("Payrate")
                        </th>
                        <th>
                            @Html.DisplayName("payroll")
                        </th>
                        <th>
                            @Html.DisplayName("Total")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.consolidatedHours)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lasname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payrate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payroll)
                            </td>
                            <td>
                                $ @Html.DisplayFor(modelItem => item.hours)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">Total: @Model.totalfin</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

